<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <main class="d-flex justify-content-center">
        <div id="app" >
            <div>
                <label for="todo">todo</label>
                <input type="text" id="todo" v-model="newTodo.text">
            </div>
            <button class="btn btn-primary" @click="addTodo">aggiungi</button>
            <div class="my-5">
                <div v-for="(todo, index) in todos" :key="index" class="d-flex border border-black justify-content-between p-2 align-items-center">
                    <span>{{ todo.text }}</span>
                    <span @click="delate(index)"><i class="fa-solid fa-x"></i></span>
                </div>
            </div>
        </div>
    </main>

    <script src="js/script.js"></script>
</body>
</html>